{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}
    Rules
{% endblock %}

{% block content %}

<h1>Rules</h1>
    <div class="row">
        {% for t in task %}
            {% if t.task_1 != None %}
                {% if t.fixed_rate == True %}
                    <p> Average smaller than {{ t.task_1 }}, your earning will be the average subtracting {{ t.rate_1 }}.</p>
                    <p>{{ t.rate_1 }} is the minimum established by the manager for their earning, therefore if your average is less than or equal to {{ t.rate_1 }} you will have no earns.</p>
                    <p>Average greater equal than {{ t.task_1 }}, you receive {{ t.rate_2|sub:100|mul:-1 }}%.</p>
                {% else %}
                    <p>Average smaller than {{ t.task_1 }}, you receive {{ t.rate_1|sub:100|mul:-1 }}%.</p>
                    <p>Average greater equal than {{ t.task_1 }}, you receive {{ t.rate_2|sub:100|mul:-1 }}%.</p>
                {% endif %}
            {% endif %}
            {% if t.task_2 != None %}
                <p>Average greater equal than {{ t.task_1 }} and smaller than {{ t.task_2 }}, you receive {{ t.rate_2|sub:100|mul:-1 }}%.</p>
            {% endif %}
            {% if t.task_3 != None %}
                <p>Average greater equal than {{ t.task_2 }} and smaller than {{ t.task_3 }}, you receive {{ t.rate_3|sub:100|mul:-1 }}%.</p>
            {% endif %}
            {% if t.task_4 != None %}        
                <p>Average greater equal than {{ t.task_3 }} and smaller than {{ t.task_4 }}, you receive {{ t.rate_4|sub:100|mul:-1 }}%.</p>
            {% endif %}
            {% if t.rate_5 != None %}
                <p>Average greater equal than {{ t.task_4 }}, you receive {{ t.rate_5|sub:100|mul:-1 }}%.</p>
            {% endif %}
        {% empty %}
        <div class="alert alert-info" role="alert">No rules have been added yet.</div> 
        {% endfor %}
    </div>
     
{% endblock %}

{% block script %}
{% endblock %}