{% extends 'base.html' %}

{% block title %}
    Help
{% endblock %}

{% block content %}

    {% if user.type == "MANAGER" %}
    <h1 class="mb-2">Help</h1>
    <div class="col-sm-6">
        <p>Decide how much you are going to pay to your scholar depending on their gain.</p>
        <p>You can add a different rule to each shcolar!</p>
        <h4>Let's take the following Rule as an example. You can input up 5 targets conditions as shown below:</h4>
        <p class="fst-italic">
            "If the average produced by the scholar is smaller than 75 SLP's, I will receive 60% of the amount at the claim.<br>
            Greater equal than 75 and smaller than 120 SLP’s, I will receive 55%.<br>
            Greater equal than 120 and smaller than 135, I receive 50%.<br>
            Greater equal than 135 and smaller than 150, I receive 45%.<br>
            Greater equal than 150, I receive 40%."
        </p>
        
        <ul>
            <li>Start by giving a name to the rule to be identified when you assign it to a scholar.</li>
            <li>Then, input the smaller number in the following field, in this example <strong>75</strong>.</li>
            <li>The next field, according to the example, is <strong>60</strong>, which is the percentage you will receive if the scholar has produced less than 75 SLP's as an average.</li>
            <li>The following field labelled "otherwise, I receive.." means that if the scholar produced 75 or more SLP's you will input <strong>55</strong> according to the example and finally click the submit button.</li>
        </ul>
        <img src="/media/main_rule_1.png" alt="">
            
        <p>
            <p class="fw-bold">After submitting the form, you will have 2 options:</p>
        <p>
            1-Click on the "done" button  and you will have a simple rule described as follow:<br>
        <span class="fst-italic">"Average smaller than 75, I receive 60%. Greater equal than 75, I receive 55%".</span><br><br>
            2-Click on the "+" button to continue inputting the others values presented in the example.
        </p>

        <img src="/media/main_rule_2.png" alt="">

        <p>From now on, the process will be the same. After submitting, press the "done" button to finalize or the "+" button to continue.</p>

        <h4>Fixed option</h4> 
        <p>
            You must have noticed a fixed option by the third field. When selected, the value will be absolute, that is, Instead of 60% in the example, you can input 45. This will ensure to you a minimum amount of 45 SLP's for an average of less than 75 SLP's. This is applied only to this field.
        </p>

        <h4>More simple rule</h4> 
        <p>
            A very simple rule would be: <span class="fst-italic">"I will receive 60% to any amount of SLP's produced by the scholar".</span> 
            In this case, in the "average smaller than" field, you type 100, in the following field, 60 and finally type 60 again in the last field. Click on "submit" and then on the "done" button.
        </p>
        <img src="/media/simple_target.png" alt="">
    </div>


    {% else %}
        <p>oops...nothing here</p>
    {% endif %}

{% endblock %}
