{% extends 'base.html' %}

{% block title %}
    Rule
{% endblock %}

{% block content %}

    {% if user.type == "MANAGER" %}

        <h1>Rules & Sharing</h1>
        <p>Decide how much you are going to pay to your scholar depending on their gain.</p>

        <a class="btn btn-primary shadow mb-3" role="button" href="{% url 'tasks:add_task1a' %}">add rule</a>

        <div class="row">
            {% for task in tasks %}
                <div class="col-sm-3">
                    <div class="card shadow rounded-10 mb-3" style="width: 18rem;">
                        <div class="card-body">     
                            <h5 class="card-title">{{ task }}</h5>
                                <div class="card-text">

                                    {% if task.task_1 != None and task.task_2 != None and task.task_3 != None and task.task_4 != None %}
                                        {% if task.fixed_rate == True %}
                                            <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }} slp's</p>
                                        {% else %}
                                            <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }}%</p>
                                        {% endif %}
                                        <p class="font-small mb-0">greater equal than {{ task.task_1 }} and smaller than {{ task.task_2 }}, I receive {{ task.rate_2 }}%</p>
                                        <p class="font-small mb-0">greater equal than {{ task.task_2 }} and smaller than {{ task.task_3 }}, I receive {{ task.rate_3 }}%</p>
                                        <p class="font-small mb-0">greater equal than {{ task.task_3 }} and smaller than {{ task.task_4 }}, I receive {{ task.rate_4 }}%</p>
                                        <p class="font-small mb-0">greater equal than {{ task.task_4 }}, I receive {{ task.rate_5 }}%</p>
                                    {% endif %}

                                    {% if task.task_1 != None and task.task_2 != None and task.task_3 != None and task.task_4 == None %}
                                        {% if task.fixed_rate == True %}
                                            <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }} slp's</p>
                                        {% else %}
                                            <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }}%</p>
                                        {% endif %}
                                        <p class="font-small mb-0">greater equal than {{ task.task_1 }} and smaller than {{ task.task_2 }}, I receive {{ task.rate_2 }}%</p>
                                        <p class="font-small mb-0">greater equal than {{ task.task_2 }} and smaller than {{ task.task_3 }}, I receive {{ task.rate_3 }}%</p>
                                        <p class="font-small mb-0">greater equal than {{ task.task_3 }}, I receive {{ task.rate_4 }}%</p>
                                    {% endif %}

                                    {% if task.task_1 != None and task.task_2 != None and task.task_3 == None and task.task_4 == None %}
                                        {% if task.fixed_rate == True %}
                                            <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }} slp's</p>
                                        {% else %}
                                            <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }}%</p>
                                        {% endif %}
                                        <p class="font-small mb-0">greater equal than {{ task.task_1 }} and smaller than {{ task.task_2 }}, I receive {{ task.rate_2 }}%</p>
                                        <p class="font-small mb-0">greater equal than {{ task.task_2 }}, I receive {{ task.rate_3 }}%</p>
                                    {% endif %}

                                    {% if task.task_1 != None and task.task_2 == None and task.task_3 == None and task.task_4 == None %}
                                        {% if task.rate_1 == task.rate_2 %}
                                            <p class="font-small mb-0">I will receive {{ task.rate_2 }}% over any amount of SLP's produced by the scholar.</p>
                                        {% else %}
                                            {% if task.fixed_rate == True %}
                                                <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }} slp's</p>
                                            {% else %}
                                                <p class="font-small mb-0">average smaller than {{ task.task_1 }}, I receive {{ task.rate_1 }}%</p>
                                            {% endif %}
                                            <p class="font-small mb-0">greater equal than {{ task.task_1 }}, I receive {{ task.rate_2 }}%</p>
                                        {% endif %}
                                    {% endif %}
                                    
                                </div><hr>
                            <h6 class="mb-1">Scholars</h6>
                            {% for scholar in task.scholar.all %}
                                <span class="badge badge-scholar rounded-pill bg-primary">{{ scholar }}
                                    <span>
                                        <a href="{% url 'tasks:remove_scholar_from_task' scholar.id task.id%}" class="link-light no-underline" data-bs-toggle="tooltip" data-bs-placement="right" title="Remove">&nbsp;&nbsp;x</a>
                                    </span>
                                </span>
                            {% endfor %}
                            <hr>
                            <a class="card-link" href="{% url 'tasks:edit_task' task.id %}">add scholar</a>
                            <a class="card-link" href="{% url 'tasks:remove_task' task.id %}">delete</a>   
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info" role="alert">Add rule to share SLP's with the scholar.</div>
            {% endfor %}
        </div>

    {% else %}
        <p>oops...nothing here</p>
    {% endif %}

{% endblock %}


