{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
Password reset complete
{% endblock %}

{% block content %}

<div class="row justify-content-center align-items-center h-100">
    <div class="col col-lg-12">
        <div class="mb-3 text-center">
            <img src="/media/metamaxie-lg-01.svg" alt="" width="240" height="auto">
        </div>
        <h1>Password reset complete</h1>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <p><a class="btn btn-primary" href="{% url 'users:login' %}" role="button">Login</a></p>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}