{% extends 'base.html' %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}
    Add Scholarship
{% endblock %}

{% block content %}

    <form action="{% url 'scholarships:add_scholarship' %}" method="post" class="form row g-3"onsubmit="myBtn.disabled = true; return true;">
        <div class="col-4">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="col-auto">
            {% buttons %}
                <button name="myBtn" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </div>
    </form>

{% endblock %}

{% block script %}
{% endblock %}
