{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Edit Scholarship
{% endblock %}

{% block content %}

    {% if msg %}
        <div class="alert alert-info d-flex flex-row" role="alert">Please ask the scholar to create an account and then give the code below to connect them to your team. The code can be found on your profile page too.</div>
        <h3 class="fw-bold">{{ manager.team_code }}</h3> 
    {% else %}
        <h1>{{ scholarship }}</h1>

        <div class="col-4">
            <form action="{% url 'scholarships:edit_scholarship' scholarship.id %}" method='post' onsubmit="myBtn.disabled = true; return true;">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button class="btn btn-primary" name="myBtn">Submit</button>
                {% endbuttons %}      
            </form>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
{% endblock %}
