{% extends 'base.html' %}

{% block title %}
    Scholars
{% endblock %}

{% block content %}

    {% if user.type == "MANAGER" %}

    <h1>Scholars</h1>
    <p>You have <strong>{{ scholars|length }}</strong> scholars on your team.</p>

    {% for scholar in scholars|dictsort:"scholar.first_name"  %}

        <ul class="list-group list-group-flush">      
            <li class="list-group-item">
                    <p class="mb-0"><strong>{{ scholar }}</strong></p>
                    <p class="mb-0">{{ scholar.scholar.first_name }} {{ scholar.scholar.last_name}}</p>
                    <a href="{% url 'scholarships:disconnect_scholar' scholar.id %}" role="button">Disconnect</a>
            </li>      
        </ul><hr>
        
        
    {% endfor %}

    

        

    {% else %}
        <p>oops...nothing here</p>
    {% endif %}

{% endblock %}

{% block script %}


{% endblock %}